.casino-h1{
    color: darkorange;
    font-family: poppins;
    padding: 30px;
    text-align: center;  
    background-color: black;
}

.c-1{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    margin-top: 50px;
}

.c-2{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.c-3{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}