.fondo-adn{
 
   background-color: black;

   .adn{
   .letra-adn1{
    color: darkorange;
    font-family: poppins;
    padding: 30px;
    text-align: center;
}
}

.letra-adn{
    color: white;
    font-family: poppins;
    padding: 30px;
}
}