.banner-p{
    
    font-family:"$letra-pippins";
    font-size: 2rem;
    color: darkorange;
    text-align: center;

    h1{
        font-size: 3.3rem;
    }
}

.primer-p{
    background-image: url(../img/montaña-p.jpg);
    font-family: $letra-poppins;
    font-size: 30px;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;

    .segundo-p{
        font-family: $letra-poppins;
        font-size: 20px;
        color: black;
        position: absolute;
        display: flex;
        padding-top: 60px;
    }
    
    .img-p{
        display: flex;
        justify-content: flex-end;
        padding-right: 80px;
        position: relative;
    }
}

.p-p{
    border: 1.2px solid;
    display: inline-block;
    padding: 2px;
    margin: 5px 0px 0px 50px;
    background-color: white;
    font-family:"$letra-poppins";
    margin-bottom: 70px;


    a{
        color: black;
    }

}

.banner-s{
    font-family: "$letra-pippins";
    font-size: 2.5rem;
    color: darkorange;
    text-align: center;

    h2{
        font-size: 3rem;
    }
}

.primer-s{
    background-image: url(../img/casa-s.jpg);
    font-family: $letra-poppins;
    font-size: 30px;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;  
    text-align: center;

    .segundo-s{
        font-family: $letra-poppins;
        font-size: 20px;
        color: black;
        position: absolute;
        display: flex;
        padding-top: 60px;
    
    }

    .img-s{
        display: flex;
        justify-content: flex-end;
        padding-right: 80px;
        position: relative;
    }
}

@media (max-width:1075px){
    .img-s img{
        display: none;
    }

    .primer-p{
        width: 100%;
        height: 15em;
        margin: 0;
    }

    .img-p img{
        display: none;
    }
    .primer-s{
        width: 100%;
        height: 15em;
        margin: 0;
    }
}