.todo-jr{
    background-color: black;

    .jg-d{
        color: darkorange;
        font-family: poppins;
        text-align: center;
    }

    .letras-jr{
        color: white;
        font-family: poppins;
        padding: 30px;

        .jr{
            font-family: poppins;
            margin-bottom: 10px;
        }

        .letras-jr1{
            color: darkorange;
            font-family: poppins;
            margin-top: 20px;
        }
    }
    
}